/* Start-Global-Rules */
/* Start-Root */
:root {
  --section-padding: 100px 0;
  --main-color-section: #141619;
  --liner-gradient-hover: #665dcd, #5fa4e6, #d2ab67;
}
/* End-Root */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  color: white;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
span {
  display: block;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Extra Small Devices */
@media (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Small Devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Devices */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Devices */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End-Global-Rules */
/* Start Header */
header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px auto;
  padding: 0 100px;
}
header .nav-bar ul {
  display: flex;
  margin-right: 70px;
}
header .nav-bar ul li {
  margin: 0 10px;
  position: relative;
}
header .nav-bar ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  outline: none;
}
header .nav-bar ul li:nth-child(3) a {
  margin-left: 10px;
}
header .nav-bar ul li.arrow a::after {
  content: "";
  border: 1px solid white;
  border-top: none;
  border-left: none;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  margin-left: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
header .nav-bar p {
  text-transform: uppercase;
  word-spacing: 3px;
  font-size: 12px;
  font-weight: 300;
  position: relative;
}
header .nav-bar p::before {
  content: "";
  background-image: linear-gradient(
    to bottom right,
    #665dcd 0%,
    #5fa4e6 45%,
    #d2ab67 100%
  );
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* Start Media Nav-Bar */
@media (max-width: 767px) {
  header {
    margin-top: 40px;
  }
  header .nav-bar {
    padding: 0;
  }
  header .nav-bar .logo {
    width: 100%;
  }
  header .nav-bar .logo img {
    margin: 20px auto 0;
  }
  header .nav-bar ul {
    width: 100%;
    padding: 0 40px;
    margin-right: 0;
  }
  header .nav-bar ul li {
    margin: 0 auto;
  }
  header .nav-bar ul li.arrow a::after {
    display: none;
  }
  header .nav-bar ul li:nth-child(3) a {
    margin: 0;
  }
  header .nav-bar p {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  header .nav-bar ul {
    margin-right: 0;
  }
} 
@media (max-width: 991px) {
  header .nav-bar ul {
    margin-right: 0;
  }
}
@media (min-width: 1000px) {
  header .nav-bar ul {
    margin-right: 70px;
  }
}
/* End Media Nav-Bar */
header .container .main-head {
  text-align: center;
  width: 100%;
  margin: 70px auto;
}
header .container .main-head h1 {
  font-size: 76px;
  font-weight: 400;
  margin: 20px 0;
}
header .container .main-head p {
  width: 45%;
  margin: 0 auto;
  line-height: 30px;
  font-size: 18px;
  font-weight: 200;
  color: #e5e5e5;
}
header .container .main-head button {
  margin-top: 40px;
  padding: 15px 30px;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    #665dcd 0%,
    #5fa4e6 45%,
    #d2ab67 100%
  );
}
/* Start Media Main-Head */
@media (max-width: 1199px) {
  header .container header .container .main-head h1 {
    font-size: 70px;
  }
  header .container .main-head p {
    width: 55%;
  }
}
@media (max-width: 991px) {
  header .container {
    margin-top: 80px;
  }
  header .container .main-head p {
    width: 70%;
  }
}
@media (max-width: 767px) {
  header .container {
    margin-top: 60px;
  }
  header .container .main-head h1 {
    font-size: 55px;
  }
  header .container .main-head p {
    width: 70%;
  }
}
/* End Media Main-Head */
/* End Header */
/* Start Crypto */
.crypto {
  padding: var(--section-padding);
  background-image: url("../imge/background-gradiant.png");
  background-position: 70% 50%; 
}
.crypto .container .head-text {
  text-align: center;
}
.crypto .container .head-text h1 {
  font-size: 56px;
  font-weight: 400;
}
.crypto .container .head-text p {
  width: 50%;
  font-size: 20px;
  font-weight: 200;
  margin: 0 auto;
}
.crypto .container .sec {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.crypto .container .sec .text{
 flex-basis: 35%;
}
.crypto .container .sec .text h2 {
  font-size: 36px;
  font-weight: normal;
}
.crypto .container .sec .text h3 {
  font-size: 20px;
  margin: 15px 0;
}
.crypto .container .sec .text p {
  font-size: 20px;
  color: #E5E5E5;
  font-weight: 300;
}
.crypto .container .sec .text a {
  color: white;
  margin-top: 20px;
  font-weight: 300;
  position: relative;
  width: fit-content;
}
.crypto .container .sec .text a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(
    to bottom right,
    #665dcd 0%,
    #5fa4e6 45%,
    #d2ab67 100%
  );
}
.crypto .container .sec .text i {

}
.crypto .container .sec:last-child {
  flex-direction: row-reverse;
}
.crypto .container .sec:last-child p {
  font-size: 19px;
}

/* End Crypto */